@import '../app/colors';

%border-common{
    width: 200px;
    padding:10px;
    border:transparent;
    border-radius: 10px;
}

.h-btn{
   
    background:$sec-gradient;
    color:$light;
    @extend %border-common;
   
}

.card-button{
    @extend %border-common;
    background: $sec-gradient;
}