<h2> CHECKOUT FORM</h2>

<div>
    <form [formGroup] ="checkoutForm" (ngSubmit) ="postData();">
        <!-- {{checkouForm2.value | json}} -->
        <div>
            <label>Name  :</label>
            <input type = "text"  formControlName ="name" ><br>
            <span *ngIf = "checkoutForm.get('name')?.touched && checkoutForm.get('name')?.hasError('required')"> Name is required</span> <br/>
         
        </div>

        <div>
            <label>Email address  :</label>
            <input type = "email" name="email" formControlName ="email" value="email"> <br>
            <span *ngIf = "checkoutForm.get('email')?.touched && checkoutForm.get('email')?.hasError('required')"> email is required</span> <br/>
            <span *ngIf = "checkoutForm.get('name')?.touched && checkoutForm.get('name')?.hasError('email')"> give correct email</span> <br/>
         
        </div>
        
        <div>
            <input type = "checkbox" name="checkFeild" formControlName ="check">
            <label>Agree to terms</label>
        </div>
   

        <div formArrayName ='items'>
            <!-- <div *ngFor="let item of checkoutForm.controls.items['controls'];Let i=index " [formGroupName] ="i"> -->
                <input type="text" name="vvvvvv" value="1" formControlName ='id1' id=""> <br>
                <input type="text" name="vvvvvv" value="1.1" formControlName ='id2' id=""><br>
                <input type="text" name="vvvvvv"  value="1.11" formControlName ='id3' id=""><br>
            <!-- </div> -->
            
        </div>


        <div>
            <button type="submit" [disabled]="!checkoutForm.valid">checkout</button>
            <button type="button" (click)="resetForm();">clear</button>
            <button type="button" (click)="addnew();">Add</button>
        </div>
        

        <hr>

        
    </form>
</div>

<div>
    <!-- <p>Value tracked is  :   {{valueCapture}}</p> -->
</div>




<!-- *ngIf="checkoutForm.get('email').touched && checkoutForm.get('email').hasError('required')" -->