*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    position: relative ;
    
}

.app-container{
    align-items: flex-start;
    background-color: #3179ba;
    display: flex;
    flex-direction: row;
    padding:20px;
    width: 100%;
    min-height: 100vh;
}

.column-container{
    background-color: #ebecf0;
    width:300px;
    min-height: 40px;
    margin-right:20px;
    border-radius: 3px;
    padding:8px 8px;
    flex-grow:0;
}

.column-title{
    text-align: center;
    font-weight: bold;
}

.card-container{
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 0.5rem;
    padding:0.5rem 1rem;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: #091e4240 0px 1px 0px 0px;
}