<div class="row px-5 mt-5 bg-sec py-2">

    <p> WHAT IS Z-SUITE?</p>

   <div class="col-2 py-2 px-3 py-7">
    <img src="assets/img1.svg">
   <div class="px-3">
       <h1>Z Shop Provides Solutions to:</h1>
       <ul class="py-5">
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5">Effortlessly Create revenue streams</li>

       </ul>
   </div>

   <!--  -->
  
   <div class="px-3 py-7">
       <h1>Z Shop Provides Solutions to:</h1>
       <ul class="py-5">
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5" >Effortlessly Create revenue streams</li>

       </ul>
   </div>
   <img src="assets/img1.svg">
   
</div>
   
</div>
<app-z-suitecard  ></app-z-suitecard>
<!-- <div class="row px-5 py-5">
    
    <div class="col-3" *ngFor ="let d of data">
        <app-z-suitecard [res] =d.res ></app-z-suitecard>
    </div>
</div> -->

