<div class="row px-5 mt-5 bg-sec py-2">

    <p> WHAT IS Z-SUITE?</p>

   <div class="col-2 py-2 px-3 py-7">
    <img src="assets/img1.svg">
   <div class="px-3">
       <h1>Z Shop Provides Solutions to:</h1>
       <ul>
           <li>Effortlessly Create revenue streams</li>
           <li>Effortlessly Create revenue streams</li>
           <li>Effortlessly Create revenue streams</li>

       </ul>
   </div>

   <!--  -->
  
   <div class="px-3 py-7">
       <h1>Z Shop Provides Solutions to:</h1>
       <ul>
           <li>Effortlessly Create revenue streams</li>
           <li>Effortlessly Create revenue streams</li>
           <li>Effortlessly Create revenue streams</li>

       </ul>
   </div>
   <img src="assets/img1.svg">
   
</div>
   
</div>

