<div class="row px-5 mt-5 bg-sec py-2">

    <p> WHAT IS Z-SUITE?</p>

   <div class="col-2 py-2 px-3 py-7">
    <img src="assets/img1.svg">
   <div class="px-3">
       <h1>Z Shop Provides Solutions to:</h1>
       <ul class="py-5">
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5">Effortlessly Create revenue streams</li>

       </ul>
   </div>

   <!--  -->
  
   <div class="px-3 py-7">
       <h1>Z Shop Provides Solutions to:</h1>
       <ul class="py-5">
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5">Effortlessly Create revenue streams</li>
           <li class="py-5" >Effortlessly Create revenue streams</li>

       </ul>
   </div>
   <img src="assets/img1.svg">
   
</div>
   
</div>

<app-z-suitecard  ></app-z-suitecard>
<!-- <div class="row px-5 py-5">
    
    <div class="col-3" *ngFor ="let d of data">
        <app-z-suitecard [res] =d.res ></app-z-suitecard>
    </div>
</div> -->



<div class ="row bg2 mt-5 py-5 ">
   <h1>How Do I Sign up for Z Suite services?</h1>
   <br/>
   <br/>
    <p >If you already have an existing provider account with Vibrant, click the Sign In button below to log in to the portal and view directions for how to opt-in</p>
    
    <br/><p>If you do not yet have a provider account with Vibrant, 
        click the Create New Account button below to apply for one.</p>

        <div  class="py-2" >
            <button class="grn-btn">Sign In</button>
            <button class="bordered-btn">Create New Account</button>
        </div>
    </div>