@import './variables';
html,

body {
  padding: 3rem 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: large;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  background-color: $primary-color;
}

a {
  color: inherit;

}

* {
  box-sizing: border-box;
}
::placeholder{
  color: black;
}