.container{
    text-align: center;
    Link{
        font-size: 24px;
    }
    .quote{
        background-color: #fff;
        padding: 40px;
        margin: 200px;
        border-radius: 5px;
        font-style: italic;
        .quoteBody{
            font-size: 24px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
        }
        .quoteChar{
            float: right;
        }
    }
}
.div{
    flex-direction: column;
}