.signUpHeader{
    font-size: 40px;
    width: 250px;
    color: greenyellow;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}
.signUpwrapper{
    height: 500px;
    width: 500px;
    margin: 15px auto;
    align-items: center;
    background-color: black;
    border-radius: 30px;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupInput{
    padding: 15px;
    margin: 15px;
    width:320px;
    height: 42.5px;
    border: 1px solid #F0F4F7;
    background: #F0F4F7;
    border-radius: 8px;
    margin-bottom: 10px;
}
.signupInput:focus,
.signupInput:active{
    border: 5px solid #68b2ea;
    outline:none;
}
.errorMessage{
    width:50%;
    float: left;
    color: red;
    margin: 0;
}
@media only screen and (min-width:320px) and (max-width:478px)  {
    .signUpwrapper{
        width:400px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 478px) and (max-width:1129px) {
    .signUpwrapper{
        height: 600px;
        width: 80%;
    }
    .signupInput{
        padding: 15px;
        margin: 25px;
        width:50%;
        height: 30px;
    }
}
@media only screen and (min-width: 1200px) and (max-width:2560px)  {
    .signUpwrapper{
        height: 800px;
        width: 70%;
    }
    .signUpHeader{
        width: 500px;
        font-size: 70px;
    }
    .signupInput{
        padding: 15px;
        margin: 25px;
        width:50%;
        height: 60px;
    }
    .errorMessage{
        font-size: 28px;
    }
}