// @import "../../../styles/mixins";
$teal-color: teal;

.provider{
    display: flex;
    // margin-top: 20px;
    
    &_text{
        width: 50%;
        text-align: center;
        justify-content: center;
        
        display:flex ;
        flex-direction: column;
        align-items: center;
        font-size: x-large;
        &_icon2{
            display: inline-flex;
            margin-right: 20px;
        }
        &_icon3{
            display: inline-flex;
            margin-right: 20px;
        }
        &_ul2{
            display: inline-flex;
            margin: 10px;
        }
        &_ul3{
            display: inline-flex;
            margin: 17px;
        }
        &_provider{
            margin-left: -130px;
        }
        &_button2{
            margin-left: -400px;
            background-color: $teal-color;
           &:hover {
            background-color: white;
            color: $teal-color;
          }
        }

    }
    &_image{
        width: 50%;
    }
}
@include respond(md-desktop){
    .provider{
        // margin: 20px;
        flex-direction: column-reverse;
        &_text{
            width: 100%;
            &_button2{
                margin-left: 0;
            }
            &_provider{
                margin-left: 0;
            }
        }
        &_image{
            width: 70%;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
    }
}
@include respond(phone){
    .provider{
        // margin: 20px;
        flex-direction: column-reverse;
        &_text{
            width: 100%;
            // margin: 10px;
            font-size: large;
            &_icon3{
                display: inline-flex;
                margin-right: 15px;
            }
            &_provider{
                font-size: large;
                font-weight: bold;
                margin-left: 0px;
            }
            &_button2{
                margin-left: 0px;
            }
        }
        &_image{
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
    }   
}