@import '@/app/styles/mixins';

.custom_button {
    // height: 30px;
    // padding: 5px 10px;
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.primary {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
}

.primary:hover {
    box-shadow: 0 0 2px 0 #000;
    background-position: right center;
    /* change the direction of the change here */
    // color: #fff;
    text-decoration: none;
}