.main{
   width: 100%;

.part11{

width: 50%;
display: inline-block;
}
.lab{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 30px;
    margin-left: -80px;
}
.part12{

display: inline-block;
width: 50%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: x-large;
.icon{
    margin-left: -50px;
    position: absolute;
   
}
}

.p{
    margin-top: 0px;
}
.ul{
    list-style-type: none;
    
}
.button{
    height: 35px;
    width: 150px;
    background-color: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-left: -50px;
}
.button2{
    margin-left: 420px;
}

// .part2{
    
//     width: 100%;
    
// }
.part21{
    font-weight: bolder;
    font-size: xxx-large;
    margin-top: 300px;
    margin-left: 410px;
}
.part22{
margin-left: 200px;
margin-top: -600px;
}
.icon3{
    display: inline-block;
    margin-right: 20px;
}
.icon4{
    display: inline-block;
    margin-right: 20px;
}
.image3{
    padding-right: 1500px;
}
.zyme{
    margin-left: 1100px;
    margin-top: -400px;
    position: relative;
    font-size: xx-large;
    font-weight: bolder;
}
.ul2{
    list-style: none;
    margin-left: 400px;
    font-weight: bold;
    margin: 50px;
    margin-left: 440px;
    font-size: x-large;

}
.ul3{
    list-style: none;
    margin-left: 400px;
    font-weight: bold;
    margin: 50px;
    margin-left: 100px;
    font-size: x-large;
}
.button3{
    margin-left: 100px;
}}
// .last{}
// }