$primary-color: #83c234;
$secondary-color: #f15e78;
$text-color: #fff;
$zshop-color: #2ed3c5;
$zapp-color: linear-gradient(to right, #e43596, #ff8c54);
$zpro-color: linear-gradient(to right, #84bc3b, #7ed321);
$main-title-color: #2e3c57;
$font-color: #4a4a4a;
$menu-bg-color: #666;
$main-font: Helvetica, sans-serif;
