@import "../styles/variables";
@import "../styles/mixin";
@import "../styles/breakpoints.scss";

.container {
    @include container;
}

.main__footer {
    margin-top: 50px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    place-items: center;
    padding: 50px 0;
    border-bottom: 1px solid #eee;

    .vertical__line:not(:last-child) {
        border-right: 1px solid #eee;
        padding-right: 25px;
        @include media("<=tablet") {
            border-right: none;
            padding-right: 15px;
        }
    }

    @include media("<=tablet") {
        grid-template-columns: 1fr 1fr;
    }
    @include media("<=phone") {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: auto 20px;
        grid-gap: 20px;
        padding: 25px 0;
    }
}
.flogo {
    display: flex;
    margin-bottom: 40px;
    position: relative;
    @include media("<=phone") {
        margin-bottom: 0;
    }
}
.flogo__abs {
    position: absolute;
    right: 0;
    top: 0;
    @include media("<=desktop") {
        right: 10%;
        top: 10%;
        width: 85px;
    }
    @include media("<=tablet") {
        grid-template-columns: 1fr 1fr;
    }
}

.singup__btn {
    margin: 20px auto;
    a {
        border: 1px solid #61846d;
        border-radius: 25px;
        background-color: rgba(97, 132, 109, 0.05);
        padding: 10px 25px;
        font-size: 18px;
        font-family: $main-font;
        color: $main-title-color;
        font-weight: 500;
        transition: 0.3s ease-in-out;
        &:hover {
            background: #fff;
        }
        @include media("<=phone") {
            font-size: 16px;
            padding: 8px 18px;
        }
    }
}
.title {
    margin: 15px auto;
    h4 {
        font-size: 18px;
        font-weight: 600;
        font-family: $main-font;
        color: $main-title-color;
    }
}

.content {
    font-size: 18px;
    font-weight: 500;
    font-family: $main-font;
    color: $main-title-color;
    li {
        a:hover {
            text-decoration: underline;
        }
    }
    @include media("<=phone") {
        font-size: 12px;
    }
}

.copyright {
    text-align: center;
    p {
        font-size: 14px;
        font-weight: normal;
        font-family: $main-font;
        color: $main-title-color;
    }
}
