@import "../styles/variables";
@import "../styles/mixin";
@import "../styles/breakpoints.scss";

.container {
    width: 100%;
    // padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.main__nav {
    width: 100%;
    height: auto;
    // padding-bottom: 40px;
    // margin-bottom: 50px;
    background-color: transparent;

    .nav {
        position: fixed;
        width: 100vw;
        // display: grid;
        // grid-template-columns: 1fr 2.5fr;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        transition: 0.3s ease-in-out;
        padding: 8px 65px;
        // @include space(padding,alls,100px);
        background-color: $menu-bg-color;
        @include media("<=desktop") {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
        }
        @include media("<=phone") {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            padding: 8px 30px;
        }

        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include media("<=desktop") {
                justify-content: center;
            }
        }
        .logo__abs {
            display: none;
        }

        .main__menu {
            text-align: center;
            transition: all 5s ease-in-out;
            color: #fff;
            &.active {
                display: block;
                position: absolute;
                top: 70px;
                left: 0;
                background: $menu-bg-color;
                padding: 0px 2px;
                transform: translateX(0);
                z-index: 999;
                max-width: 100%;
                width: 100%;
                border-top: 1px solid #fff;
            }

            @include media("<=phone") {
                display: none;
                transform: translateX(-100%);
            }

            .nav__items {
                display: flex;
                align-items: center;
                @include media("<=desktop") {
                    justify-content: center;
                }

                @include media("<=phone") {
                    display: block;
                    justify-content: center;
                }

                .menu__list {
                    margin: 0 20px;
                    @include media("<=tablet") {
                        margin: 0 8px;
                    }
                    @include media("<=phone") {
                        margin: 0;
                        border-bottom: 1px solid #eee;
                        padding: 10px 0;
                    }

                    &:last-child {
                        padding: 8px 22px;
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 22px;
                        border: 1px solid #fff;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 500;
                        @include media("<=phone") {
                            padding: 8px 15px;
                        }
                    }

                    a {
                        // color: $text-color;
                        font-size: 18px;
                        font-weight: 600;
                        @include media("<=tablet") {
                            font-size: 16px;
                        }
                        @include media("<=tablet") {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .mobile__menu__btn {
            display: none;
            @include media("<=phone") {
                display: block;
                text-align: right;
            }

            i {
                font-size: 22px;
                color: #fff;
            }

            span {
                height: 2px;
                width: 20px;
                background-color: #fff;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    height: 2px;
                    width: 30px;
                    background-color: #fff;
                    top: 0;
                }
                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    height: 2px;
                    width: 30px;
                    background-color: #fff;

                    top: 10px;
                }
            }
        }
    }
}

.nav.sticky {
    // background: rgba(0, 0, 0, 0.5);
    background: #fff;
    box-shadow: 0px 1px 4px #000;
    padding: 10px 65px;
    z-index: 9999;
    .main__menu.active {
        top: 75px;
        // background: rgba(0, 0, 0, 0.5);
        background: #fff;
    }

    .logo {
        position: relative;
    }
    .logo__abs {
        display: block;
        position: absolute;
        right: -8px;
        top: 6px;

        @include media(">phone" and "<=desktop") {
            right: 45%;
            transform: translateX(48%);
        }
        @include media("<=phone") {
            right: 35%;
            transform: translateX(50%);
        }
    }

    .menu__list {
        margin: 0 18px;
        &:last-child {
            border: 1px solid rgb(151, 140, 140) !important;
        }

        a {
            color: #000;
        }
    }

    .mobile__menu__btn {
        i {
            color: #333;
        }
    }
    .dropdown {
        .sub__menu__list {
            top: 49px;
            background: #fff;
            box-shadow: 2px 4px 10px #333;
            @include media("<=desktop") {
                top:42px;
            }
            li {
                margin: 30px 20px;
                text-align: left;
                // &:hover{
                //     background: #eee;
                // }
            }

        }
        i {
           color:#000;
        }
    }
}
.dropdown {
    position: relative;
    a {
        padding-right: 10px;
    }

    .sub__menu__list {
        display: none;
        position: absolute;
        top: 47px;
        left: 0;
        transition: all 0.3s ease-in;
        border-radius: 4px;
        min-width: 250px;
        max-width: 100%;
        background: $menu-bg-color;
        box-shadow: 0 2px 5px #fff;
        @include media("<=desktop") {
            top: 39px;
        }
        li {
            margin: 30px 20px;
            text-align: left;
            // &:hover{
            //     background: #666;
            // }
        }
    }
    i {
        // padding-left: 10px;
       
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        .sub__menu__list {
            display: block;
        }
        i {
            transform: rotate(-180deg);
            // padding-left: 20px;
        }
    }
}
