@import "../styles/variables";
@import "../styles/breakpoints.scss";

.container {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}
.main {
    padding: 25px 70px 40px 70px;
    margin-bottom: 60px;
}
.nav {
    position: fixed;
    width: 100%;
    padding: 0 65px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    top: 0;
    transition: 0.3s ease-in-out;
    align-items: center;

    .main__menu {
        text-align: center;
        ul {
            // text-align: right;
        }

        .menu__list {
            display: inline-block;
            margin: 0 20px;

            &:last-child {
                padding: 8px 22px;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 22px;
                border: 1px solid #fff;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
            }

            a {
                color: $text-color;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .mobile__menu__btn {
        display: none;

        span {
            height: 2px;
            width: 20px;
            background-color: #fff;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                height: 2px;
                width: 30px;
                background-color: #fff;
                top: 0;
            }
            &::after {
                position: absolute;
                content: "";
                left: 0;
                height: 2px;
                width: 30px;
                background-color: #fff;

                top: 10px;
            }
        }
    }
}

.nav.sticky {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 4px #000;
}

.img {
    background-image: url("../assets/menu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}

.menu__middle {
    padding: 191px 0 111px 0;

    h4 {
        text-align: center;
        font-size: 48px;
        font-weight: 650;
        color: $text-color;
        margin: 0;
    }
}

.menu__lower {
    padding-top: 71px;
    text-align: center;
    color: $text-color;
    p {
        font-size: 12px;
        margin: 0;
    }
    h4 {
        margin: 0;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 25px;
            left: 0;
            right: 0;
            margin: 0 auto;
            // top: 100%;
            background-color: #fff;
            bottom: -40px;
        }
    }
}

@include media("<=phone") {
    .nav {
        grid-template-columns: 40% 40%;
        .mobile__menu__btn {
            display: block;
        }

        .main__menu {
            display: none;
            // display: block;
        }
    }
}

@include media("<=tablet") {
    .main {
        padding: 0;

    }
    .nav {
        grid-template-columns: 1fr;
        text-align: center;
        .menu__list {
            margin: 0 12px;
            &:last-child {
                padding: 6px 18px;
            }
        }
    }
}

@include media("<=desktop") {
    .main {
        padding: 0;

    }
    .nav {
        grid-template-columns: 1fr;
        .menu__list {
            margin: 0 15px;
            &:last-child {
                padding: 8px 20px;
            }
        }
    }
}
