@import "../styles/variables";
@import "../styles/breakpoints.scss";
.container {
   min-height: 100vh;
   padding: 0 0.5rem;
   margin-left: auto;
   margin-right: auto;
}

.main__tab {
   background-color: #fff;
   box-shadow: 0 2px 40px 0 rgba(194, 194, 194, 0.5);
   padding-bottom: 60px;
}

.tab__group {
   display: grid;
   place-items: center;
   margin: 60px 85px;
   // @include media("<=tablet") {
   //    padding: 40px 25px;
   // }
   @include media("<=desktop") {
      margin: 15px;
   }
   @include media("<=phone") {
      margin: 30px 14px;
   }
}

.tab__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(4, 1fr);

   // @include media("<=tablet") {
   //    grid-template-columns: repeat(2, 1fr);
   // }
   @include media("<=phone") {
      grid-template-columns: repeat(1, 1fr);
   }
   li {
      // display: inline-block;
      margin-right: 1px;
      padding: 30px 35px;
      font-size: 20px;
      font-family: Helvetica, sans-serif;
      color: #fff;
      background-color: #61846d;
      cursor: pointer;
      @include media("<=desktop") {
         padding: 25px;
         font-size: 18px;
      }
      @include media("<=tablet") {
         padding: 20px 18px;
         font-size: 16px;
      }
      @include media("<=phone") {
         padding: 25px 30px;
         font-size: 18px;
         border-bottom: 1px solid #fff;
      }
      img {
         padding-right: 14px !important;
      }
      i {
         margin-right: 12px;
         @include media("<=desktop") {
            margin-right: 10px;
         }
         @include media("<=tablet") {
            margin-right: 5px;
         }
         @include media("<=phone") {
            margin-right: 15px;
            font-size: 18px;
         }
      }
   }
   li.active {
      color: rgb(97 132 109);
      background-color: #fff;
   }
}

.tab__content {
   padding: 30px 60px;
   display: none;

   .tab__des {
      p {
         color: #4a4a4a;
         font-family: $main-font;
         font-size: 18px;
         font-weight: normal;
         @include media("<=tablet") {
            font-size: 16px;
         }
         @include media("<=phone") {
            font-size: 14px;
         }
      }
   }
   .tab__img {
      width: 100%;
      text-align: center;
      img {
         width: 100% !important;
         height: auto !important;
      }
   }
}
.tab__content.active {
   display: block;
}
