@import "../styles/variables";
@import "../styles/breakpoints.scss";

.container {
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    margin: 50px auto;
    .title {
        text-align: center;
        color: #2e3c57;
        font-family: $main-font;

        p {
            font-size: 16px;
            @include media("<=phone") {
                font-size: 14px;
            }
        }
        h4 {
            font-size: 32px;
            font-weight: normal;
            @include media("<=phone") {
                font-size: 22px;
            }
        }
    }
    .des {
        text-align: center;
        p {
            font-size: 18px;
            color: #7e8085;
            @include media("<=phone") {
                font-size: 14px;
            }
        }
    }
}

.main__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 30px;
    margin: 50px auto;

    @include media("<=tablet") {
        grid-template-columns: 1fr 1fr;
        place-items: flex-start;
        margin: 0 40px;
    }
    @include media("<=phone") {
        grid-template-columns: 1fr;
    }
}
.sec__card {
    // margin: 50px auto;
    .content {
        font-family: $main-font;
        h4 {
            font-size: 22px;
            font-weight: bold;
            color: #000;
        }
        p {
            font-weight: normal;
            font-size: 18px;
            color: #4a4a4a;
        }
    }

    .sec1__icon {
        width: 50px;
        height: 50px;
        box-shadow: 0 6px 23px 0 #2ed3c5;
        border-radius: 100%;
    }
}
