@import "../../../styles/mixins";
$teal-color: teal;

.zymebalanzApp{
    display: flex;
    margin-top: 20px;
    &_image{
        width: 50%;
    }
    &_text{
        width: 50%;
        text-align: center;
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        &_zymebalanz{
            margin-left: -100px;
        }
        &_icon4{
            display: inline-flex;
            margin-right: 17px;
        }
        &_icon5{
            display: inline-flex;
            margin-right: 20px;
        }
        &_ul4{
            display: inline-flex;
            margin: 10px;
        }
        &_ul5{
            display: inline-flex;
            margin: 10px;
        }
        &_button3{
            margin-left: -360px;
            background-color: $teal-color;
           &:hover {
            background-color: white;
            color: $teal-color;
          }
        }
    }
}

@include respond(md-desktop){
    .zymebalanzApp{
        margin: 20px;
        flex-direction: column;
        
        &_image{
            width: 50%;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        &_text{
            width: 100%;
            &_zymebalanz{
                margin-left: 0px;
            }
            &_button3{
                margin-left: 0px;
                margin-top: 10px;
            }
            // font-size: large;
            
        }
    }
}
@include respond(phone){
    .zymebalanzApp{
        margin: 20px;
        flex-direction: column;
        
        &_image{
            width: 50%;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        &_text{
            width: 100%;
            // margin: 20px;
            font-size: large;
            &_zymebalanz{
                font-size: large;
                font-weight: bold;
                margin-left: 0px;
            }
            &_button3{
                margin-left: 0px;
            }
        }
    }
}