@import "../../../styles/mixins";
$teal-color: teal;


    .text1{
        font-size: x-large;
        font-weight: 200;
        text-align: center;
        margin-top: 30px;
    }
    
    .labTesting{
        display: flex;
        // min-height: auto;
    
    &_image{
        width: 50%;
    }
    &_text{
        width: 50%;
        text-align: center;
        font-size: x-large;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        
        
        &_ul{
            list-style: none;
        }
        &_lab{
            margin-left: -70px;
            
        }
        
        &_icon{
            
            display: inline-flex;
           
        }
        &_easy{
          display: inline-flex;  
          margin: 20px;
            
        }
        &_button{
            margin-left: -180px;
            
            background-color: $teal-color;
            
            &:hover {
             background-color: white;
             color: $teal-color;
           }
        }
 
    }
 }
 @include respond(md-desktop){
    .labTesting{
        // min-height: 500px;

        flex-direction: column;
        margin: 20px;
        &_image{
            width: 50%;
            align-items: center;
  justify-content: center;
  margin: auto;
        }
        &_text{
            width: 100%;
            align-items: center;
            margin: auto;
            font-size: x-large;
            justify-content: center;
            &_lab{
                display: flex;
            text-align: center;
            justify-content: center;
            margin-left:0 ;
            }
            &_button{
                margin-left: 0;
            }
  
        }
    }
 }
 @include respond(phone){
    .labTesting{
        // min-height: 500px;
        
        margin: 10px;
        &_image{
            width: 50%;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        &_text{
            width: 100%;
            align-content: center;
            // margin: 10px;
            justify-content: center;
            text-align: center;
            font-size: large;
            &_ul{
                text-align: center;
            }
            &_button{
                // margin-left: -100px;
            }
            &_lab{
                font-size: large;
                // font-weight: bold;
                display: flex;
            text-align: center;
            justify-content: center;

            }
 
        }
    }   
 }


