<!-- <div class="z-suite-card py-2 px-3">
    <div class="top-img">
        <i class="far fa-comments"></i>
    </div>
    
    <p>{{res}}</p>

</div> -->


<div class="row px-5 py-5">
    
    <!-- <div class="col-3" *ngFor ="let d of data"> -->
        <div class="col-3 px-5">
            <div class="outer" >
                <div class="top-img">
                    <i class="far fa-comments"></i>
                </div>
            <div class="z-suite-card  ">
               
                
                <p>jgjgbjk jmjhb jbjkb</p>
            
            </div>
            </div>
           

            <div class="outer" >
                <div class="top-img">
                    <i class="far fa-comments"></i>
                </div>
            <div class="z-suite-card  ">
               
                
                <p>jgjgbjk jmjhb jbjkb</p>
            
            </div>
            </div>
           
            <div class="outer" >
                <div class="top-img">
                    <i class="far fa-comments"></i>
                </div>
            <div class="z-suite-card  ">
               
                
                <p>jgjgbjk jmjhb jbjkb</p>
            
            </div>
            </div>
           
         <!-- <div class="z-suite-card ">
            <div class="top-img">
                <i class="far fa-comments"></i>
            </div>
            
            <p>snmbxnbskjdbsj</p>
        
        </div> -->
    </div>
</div>