<!-- <div class="z-suite-card py-2 px-3">
    <div class="top-img">
        <i class="far fa-comments"></i>
    </div>
    
    <p>{{res}}</p>

</div> -->

<!-- begins here -->

<!-- 
<div class="row px-5 py-5">
    
        <div class="col-3 px-5">
            <div class="outer" >
                <div class="top-img">
                    <i class="far fa-comments"></i>
                </div>
            <div class="z-suite-card  ">
               
                
                <p>jgjgbjk jmjhb jbjkb</p>
            
            </div>
            </div>
           

            <div class="outer" >
                <div class="top-img">
                    <i class="far fa-comments"></i>
                </div>
            <div class="z-suite-card  ">
               
                
                <p>jgjgbjk jmjhb jbjkb</p>
            
            </div>
            </div>
           
            <div class="outer" >
                <div class="top-img">
                    <i class="far fa-comments"></i>
                </div>
            <div class="z-suite-card  ">
               
                
                <p>jgjgbjk jmjhb jbjkb</p>
            
            </div>
            </div>
      
    </div>
</div> -->

<!--  other section -->
     
         <!-- <div class="z-suite-card ">
            <div class="top-img">
                <i class="far fa-comments"></i>
            </div>
            
            <p>snmbxnbskjdbsj</p>
        
        </div> -->

<div class=" col-3 mt-2 px-5">
    <div class=" mt-2 py-2 px-5">
        <div class="top-img">
            <i class="far fa-comments"></i>
        </div>
        <div class="z-suite-card ">
            <p > Grow your practice with technology solutions</p>
        </div>
    </div>

    <div class=" py-2 px-5">
        <div class="top-img">
            <i class="far fa-comments"></i>
        </div>
        <div class="z-suite-card ">
            <p>Developed with healthcare providers in mind</p>
        </div>
    </div>

    <div class=" py-2 px-5">
        <div class="top-img">
            <i class="far fa-comments"></i>
        </div>
        <div class="z-suite-card ">
            <p> E-commerce platform design for healthcare services </p>
        </div>
    </div>
</div>