
<div class="well-proz-marketing-site">
    <div class="return-and-refunds-image">
      <div class="headingImage">
        <img class="leaf-part" [src]=" support_image" alt=" support_image">
      </div>
      <div class="return-and-refunds-whole">
  
        <div class="return-and-refunds">
  
          <div class="return-and-refunds-heading">
            <p>How can we help?</p>
          </div>
          <div class="return-and-refunds-links">
            <p>Popular help topics:</p>
            <a href="">account,</a>
            <a href="">pricing,</a>
            <a href="">payment,</a>
            <a href="">shop setup</a>
          </div>
  
        </div>
        
      </div>
    </div>
    <div class="subHeading">
      <p class="subHeading-Header">GENERAL SUPPORT</p>
      <P class="subHeading-content">Please select from the categories below to view answers to commonly asked questions. </P>
  
    </div>
    <div class="pageContent">
      <div class="pageContent-box">
        <div class="icon">
          
        </div>
        <div class="content">
          <p class="content-heading">Shipping</p>
          <p class="content-para">View shipping policies for lab testing kits and supplement products.  </p>
        </div>
      </div>
  
      <div class="pageContent-box">
        <div  class="icon">
          
        </div>
        <div  class="content">
          <p class="content-heading">Returns and Refunds</p>
          <p class="content-para">View policies about returns and refunds for lab testing, supplements, and provider services purchased through your provider’s WellProZ shop. </p>
        </div>
      </div>
  
      <div class="pageContent-box">
        <div  class="icon">
          
        </div>
       <div  class="content">
        <p class="content-heading">Terms and Polices</p>
        <p class="content-para">View terms and policies related to billing and other issues not related to shipping, returns, and refunds. </p>
       </div>
        
      </div>

      <div class="pageContent-box">
        <div  class="icon">
          
        </div>
       <div  class="content">
        <p class="content-heading">Privacy</p>
        <p class="content-para">View our privacy policies and what we do to protect your health information here. </p>
       </div>
        
      </div>
    </div>
  
  </div>
