@import "../../../styles/mixins";
$teal-color: teal;

.supplement{
    display: flex;
    margin-top: 30px;
    &_text{
        width: 50%;
        text-align: center;
        justify-content: center;
        font-size: x-large;
        &_icon2{
            display: inline-flex;
            margin-right: 20px;
        }
        &_icon3{
            display: inline-flex;
            margin-right: 32px;
        }
        &_ul2{
            display: inline-flex;
            margin: 20px;
        }
        &_ul3{
            display: inline-flex;
            margin: 20px;
        }
        &_supplement{
            margin-left: -130px;
        }
        &_button2{
            margin-left: -310px;
            background-color: $teal-color;
           &:hover {
            background-color: white;
            color: $teal-color;
          }
        }

    }
    &_image{
        width: 50%;
    }
}

@include respond(md-desktop){
    .supplement{
        margin: 20px;
        flex-direction: column-reverse;
        &_text{
            width: 100%;
        }
        &_image{
            width: 100%;
        }
    }
}
@include respond(phone){
    .supplement{
        margin: 20px;
        flex-direction: column-reverse;
        &_text{
            width: 100%;
            margin: 10px;
            text-align: center;
            font-size: large;
            &_supplement{
                font-size: large;
                font-weight: bold;
                // margin-left: -150px;
            }
            &_icon2{
                display: inline-flex;
                margin-right: 1px;
            }
            &_icon3{
                display: inline-flex;
                margin-right: 12px;
            }
            &_ul2{
                display: inline-flex;
                margin: 10px;
            }
            &_ul3{
                display: inline-flex;
                margin: 10px;
            }
            &_button2{
                margin-left: -240px;
            }
        }
        &_image{
            width: 100%;
        }
    }

}