<div class="well-proz-marketing-site">
    <div class="return-and-refunds-image">
      <div class="headingImage">
        <img class="leaf-part" [src]=" well_pro_image" alt=" well_pro_image">
      </div>
      <div class="return-and-refunds-whole">
  
        <div class="return-and-refunds">
  
          <div class="return-and-refunds-heading">
            <p>Returns and Refunds</p>
          </div>
          <div class="return-and-refunds-links">
            <a href="">General Support,</a>
            <a href="">Shipping,</a>
            <a href="">Terms and Polices,</a>
            <a href="">Privacy</a>
          </div>
  
        </div>
        
      </div>
    </div>
    <div class="subHeading">
      <p>GENERAL SUPPORT</p>
      <P><</P>
      <P>RETURN AND REFUNDS </P>
  
    </div>
    <div class="pageContent">
      <div class="lab">
        <div class="heading">
          <p>
            Lab Testing 
          </p>
        </div>
        <div class="content">
          <p>
            All lab testing sales are final and no refunds will be afforded. You waive any rights to charge-back your purchase with your credit card processor. Claims for tests not performed and incorrect orders will be reviewed on a case-by-case basis. WellProz does not participate in, take assignment, or accept any private insurance. We do not provide super bills and cannot assist with claim resolution for laboratory tests or consultations. 
          </p>
        </div>
      </div>
  
      <div class="services">
        <div  class="heading">
          <p>
            Supplements Product  Return Policy
          </p>
        </div>
        <div  class="content">
          <p>
            We stand behind Wholescripts (powered by Xymogen) products 100% and your complete satisfaction is our goal. 
          </p>  
          <p>
            Because Xymogen rigorously tests all its formulas for authenticity, potency, and safety; and we do not resell any returned items; we are unable to accept returns for supplement products. Claims for shortages, incorrect items, and damages will be reviewed on a case-by-case basis. 
          </p>
        </div>
      </div>
  
      <div class="supplements">
        <div  class="heading">
          <p>
            Services Purchased from Your Provider 
          </p>
        </div>
       <div  class="content">
        <p>
          No returns apply for any Service. All sales are final and no refunds will be afforded. You waive any rights to charge-back your purchase with your credit card processor. WellProz does not participate in, take assignment, or accept any private insurance. We do not provide super bills and cannot assist with claim resolution for consultations. 
        </p>
       </div>
        
      </div>
    </div>
  
  </div>
