@import './styles/variables';
@import './styles/mixins';

.app {
  height: 100vh;
}

.fields_wrapper {
  margin-bottom: $spacing-base * 4;
}

.main_layout {
  height: calc(100vh - 80px); //80px is navbar
}

//utils
.m-1 {
    margin: $spacing-base;
}

.p-1 {
    padding: $spacing-base;
}

.m-2 {
    margin: $spacing-base * 2;
}

.p-2 {
    padding: $spacing-base * 2;
}

.h-100 {
    height: 100vh
}

//styles
.card_container {
    @include flex-center;
    gap: $spacing-base;
    flex-wrap: wrap;
}

.card {
    background-color: $primary-color;
    color: #fff;
    padding: $spacing-base * 2;
    border-radius: 8px;
    // max-width: 500px;
    @include flex-center;
    flex: 1;
}

.card_content {
    margin: $spacing-base;
}

.card:hover {
    animation: card-hover 0.3s ease-in-out;

    .name {
        animation: shake-text 0.5s ease-in-out infinite;
    }
}

//view css
.view_container {
    height: fit-content;
    background-color: rgb(241, 192, 192);
    padding: $spacing-base;
    border-radius: $radius-base;

}

.view_data {
    @include flex-center;
    justify-content: space-between;
    min-width: 250px;
    margin-bottom: $spacing-base;

    p {
        text-align: left;
        width: 100%;
    }
}

@keyframes card-hover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes shake-text {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}