@import "./colors";

.grn-btn{
    width:200px;
    border-radius: 10px;
    background-color: $color1;
    border: transparent;
    color:white;
    padding:10px;
    margin:5px;
    font-size: 15px;
}
.bordered-btn{
    width:200px;
    border-radius: 10px;
    background-color: white ;
    border: 2px solid $color1;
    color: $color1;
    padding:10px;
    margin:5px;
    font-size: 15px;
}