$primary-gradient:  linear-gradient(90deg,rgba(11,11,75,1) 19%, rgba(83,40,166,0.94) 83%, rgba(2,2,65,0.95)99%, rgba(0,212,255,1)100% );
$sec-gradient: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$dark:rgb(36, 36, 36);
$light:rgb(245, 233, 233);
$transparent-dark: linear-gradient(90deg,rgba(11, 11, 75, 0.767) 19%, rgba(82, 40, 166, 0.753) 83%, rgba(2, 2, 65, 0.712)99%, rgba(19, 7, 90, 0.459)100% );
$primary: #2E3C57;
$primary-bg: white;
$secondary-bg: #F6F8F9;
$color1 : #2ED3C5;
$color2 : linear-gradient(45deg, #E43596 0%, #FF8C54 100%);
$color3 : linear-gradient(45deg, #84BC3B 0%, #7ED321 100%);
$bg-sec: #e5eaec;
$f-color: #4A4A4A;