.thumbnailcard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  box-sizing: border-box;
  padding:2rem;
  .card{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25rem;
    border-radius: 10px;
    .thumbnail{
      height:13rem;
      width:100%;
      background-color: rgb(198, 210, 226);
    }
    .content{
      text-align: center;
      &_button{
        background-color: rgb(19, 117, 245);
        color:white;
        border-radius: 10px;
        width:12rem;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
        padding:1rem;
        margin:2rem;
      }
    }
    
  }
}