<div class="col-4 py-5">
    <div class="py-5 px-5  ">
        
        <img src="assets/icon1.png" /><span><h1>Z SUITE</h1></span>
        <br/>
        <button class="bordered-btn "> Sign up</button>
    </div>
    <div class="py-5 px-5">
        <h3>Address</h3>
        <br/>
        <p>Street:  3875 Ridge Road
            <br/>

            City:  Council Grove
            <br/>
            
            State/province/area:   Kansas
            <br/>
            
            Phone number  620-766-8322
            <br/>
            Zip code  66846
            <br/>
            Country calling code  +1
            <br/>
            Country  United States</p>
    </div>
    <div class="py-5 px-5 ">
        <h3>Hours of Operation</h3>
        <br/>
        <p> Mon- Fri : 9am - 9pm EST</p>
        <p>Sat-Sun :closed</p>
       
    </div>
    <div class="py-5 left-border px-5 "> 
        <h3>Information</h3>
        <br/>
        <p> REGULATORY DOCUMENTS POLICY</p>
    </div>
</div>