<div class="col-4 bottom-border " style="padding:3%; text-align: center;">
    <div class="py-2 px-5  ">
        
        <img src="assets/icon1.png" style="width:100px" /><span><h3>Z SUITE</h3></span>
        <br/>
        <button class="bordered-btn "> Sign up</button>
    </div>
    <div class="py-2 px-5">
        <h3>Address</h3>
        <br/>
        <p>Street:  3875 Ridge Road
            <br/>

            City:  Council Grove
            <br/>
            
            State/province/area:   Kansas
            <br/>
        
    </div>
    <div class="py-2 px-5 ">
        <h3>Hours of Operation</h3>
        <br/>
        <p> Mon- Fri : 9am - 9pm EST</p>
        <p>Sat-Sun :closed</p>
       
    </div>
    <div class="py-2 left-border px-5 "> 
        <h3>Information</h3>
        <br/>
        <p> REGULATORY DOCUMENTS POLICY</p>
    </div>

</div>
<div class="row px-5 ">
    <div class="line-3"></div>
    <p style="padding:1% ; font-size: 12px;" >© Copyright 2020 ZSHOP. All Rights Reserved.</p>
</div>