<!-- <form #f="ngForm" (ngSubmit) = "onSubmit(f.value)">

    <h3>Add your ideas</h3>
    <br/>
    <label for="name">Name:</label>
    <input type="text" name="name"  ngModel>
    
    <br/>
     
    <label for="descr">Description:</label>
    <input type='textarea' rows="5" cols="50" name="descr" ngModel > 
    <br/><br/>
    <button type="submit">Submit</button>
    
</form> -->
<form [formGroup] = "profileForm" (ngSubmit) = "onSubmit()">
    {{ profileForm.value | json }}
    <label>Name</label>
    <input type="text" formControlName ="name" />
    <br/>
    <label>Topic of Expertise</label>
    <input type="text" formControlName ="sub" />
    <br/><br/>
    <button type="submit">Add</button>
</form>