<!-- <form #f="ngForm" (ngSubmit) = "onSubmit(f.value)">

    <h3>Add your ideas</h3>
    <br/>
    <label for="name">Name:</label>
    <input type="text" name="name"  ngModel>
    
    <br/>
     
    <label for="descr">Description:</label>
    <input type='textarea' rows="5" cols="50" name="descr" ngModel > 
    <br/><br/>
    <button type="submit">Submit</button>
    
</form> -->
<form [formGroup] = "profileForm" (ngSubmit) = "onSubmit()">
    {{ profileForm.value | json }}
    <label>Name</label>
    <input type="text" formControlName ="name" />
    <br/>
    <label>Topic of Expertise</label>
    <input type="text" formControlName ="sub" />

    <div formGroupName="address">
        <h3>Address</h3>
      
        <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
        
        <label>
          State:
          <input type="text" formControlName="state">
        </label>
      
        <label>
          Zip Code:
          <input type="text" formControlName="zip">
        </label>
      </div>
    <br/><br/>
    <button type="submit">Add</button>
</form>
<table>
    <tr>
        <td> <thead>Author</thead></td>
        <td> <thead>Topic of Expertise</thead></td> 
     </tr>
     <div *ngFor = 'let data of formData'>
        
    
        <app-authortable [name] = "data.name" [sub] ="data.sub" ></app-authortable>
    </div>
    
</table>

