@import 'colors';

.navbar{
    display: flex;
    justify-content: center;
    margin:0;
    position: relative;
    top:0;
    background:$sec-gradient;
    width: 100%;
}
.navbar{
    .navarea{
        margin:0;
        padding:0;
        list-style: none;
    }
    .nav-item{
        color:$light;
        display: inline-block;
        padding:10px;
        box-sizing: border-box;
        margin:3px;
    }
}

