


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    %grid-container{
        grid-template-columns: 50% 50%;
    }
    // .header{
    //     height: 700px;
    // .bg-image{
    //     height: 700px;
    // }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    %grid-container{
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    // .header{
    //     height: 600px;
    // .bg-image{
    //     height: 600px;
    // }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    %grid-container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    %grid-container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}