<nav class="navbar" (scroll) = "onWindowScroll();">
  <input type="checkbox" id="navcheck"/>
  <div class="nav-btn">
    <label for="navcheck">
      <span> </span>
      <span></span>
      <span></span>
    </label>
  </div>  
  <ul class="navarea">
      <a routerLink=""> <li class="nav-item">Z-shop</li></a> 
        <li  class="nav-item">ZApp</li>
        <li class="nav-item">ZPro</li>
        <li class="nav-item">For Patient</li>
        <li class="nav-item">Support</li>
        <!-- <li class="nav-item  bordered-trans">Sign In</li> -->
    </ul>
  </nav>