@import '/src/app/colors';

@import '/src/scss/button';
@import '/src/scss/fonts';


.text-center{
    text-align: center;
}
.w-50{
    width:50%;
}

%center-items{
    text-align: center;
    align-items: center;
}

$primary-color: rgb(78, 78, 202);
%center-item{
    justify-content: center;
    align-content: center;
}
%flex-default{
    display: flex;
   
    flex-wrap: wrap;
}

%grid-container{
    display:grid;
    grid-template-columns: 100%;

    
}

%border-t{
    border:transparent;
    border-radius: 10px;

}

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    position: relative;

}



.header{
    @extend %grid-container;
    
    .bg-image{
        grid-column:1/span 4;
        
        object-fit: cover;
    }
    .title{
        position: absolute;
        top:100px;
        width: 100%;
      
        padding: 30px;
       
       
        color:$light;
        font-family: $h-font;
       letter-spacing: $l-1;
       p{
           font-family: $p-font;
           font-weight:bold;
           
       }
       
    }
}

.outer-container{
@extend %grid-container;

padding:40px;
// grid-gap: 10px;
justify-content: space-around;
.col{
    padding: 10px;
    .card{
        background:transparent;
        padding:10px;
        @extend %border-t;
        img{
            @extend %border-t;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        .card-body{
            padding:10px;
        }
    }

}
}

@media only screen and (max-width:600px){
    .header{
        height: 700px;
    .bg-image{
        height: 700px;
    }
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    %grid-container{
        grid-template-columns: 50% 50%;
    }
    .header{
        height: 700px;
    .bg-image{
        height: 700px;
    }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    %grid-container{
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    .header{
        height: 600px;
    .bg-image{
        height: 600px;
    }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    %grid-container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    %grid-container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}