<div class="grid-container">

    <div class="row " style="color: #2E3C57;
    font-family: Verdana;
    font-size: 16px;
    letter-spacing: 1.33px;
    line-height: 19px; margin-top: 2%;">
        Z-SUITE
    </div>
    <div class=" row mt-5 ">
        <h1>What is Z-suite?</h1>
        <p class="mt-2">Z Suite is a unique technology solution for concierge and integrative medicine practices, aiding healthcare providers

        </p>
        <br/>
       
    </div>

    <div class="row-col px-5 mt-2 ">
        <div class="col">
            <img src="assets/icon1.png"/>
            <div class="content">
                <h3><b> Z Shop</b></h3>
            <br/>
            <p>Creating revenue streams</p>
            </div>
            
        </div>
        <div class="col"> <img src="assets/icon2.png"/>
            <h3><b> Z Shop</b></h3>
            <br/>
            <p>Creating revenue streams</p>
        </div>
        <div class="col">
            <img src="assets/icon3.png"/>
            <h3><b> Z Shop</b></h3>
            <br/>
            <p>Creating revenue streams</p>
        </div>
    </div>
</div>


<!-- tab panel -->
<div class="row px-5 mt-5">

    <div class="default-card">
        <div class="tabs">
            <input id="radioo1" name="radio1" type="radio" value="html" checked/>
            <label for ="radioo1" >  <img src="assets/radio1.png" name="radio1"/>Revenue</label>
           
            <div class="tab-content" >
                <p> Fitting seamlessly into Vibrant’s existing lab platform framework, Z Suite technology acts as an extension of both the patient’s lab reports and as a premium feature and extension of the healthcare provider’s practice.

                  <br/><br/>  By offering a premium collaborative experience for the patient, healthcare providers are able to standout from the crowd and operate competitively in their industry while providing an enhanced patient experience.
                    
                   <br/> <br/>  How can Z Suite technology impact your practice’s revenue? Z Suite privides a number of opportunities to monetize what you are already doing in your practice, and to build new revenue streams that help your patients see better results while building your practice.
                
                </p>
            </div>
            
            <input id="radio2" name="radio1" type="radio" value="css"/>
            <label for="radio2" >  <img src="assets/radio1.png" name="radio1"/>Revenue</label>
          
            <div class="tab-content" >
                 <p> Fitting seamlessly into Vibrant’s existing lab platform framework, Z Suite technology acts as an extension of both the patient’s lab reports and as a premium feature and extension of the healthcare provider’s practice.
                </p>
            </div>
            
            <input id="radio3" name="radio1" type="radio" value="dummy"/>
            <label for= "radio3" >  <img src="assets/radio1.png" name="radio1"/>Revenue</label>
            
            <div class="tab-content" >
                <p> Fitting seamlessly into Vibrant’s existing lab platform framework, Z Suite technology acts as an extension of both the patient’s lab reports and as a premium feature and extension of the healthcare provider’s practice.
                </p>
            </div>

            <input id="radio4" name="radio1" type="radio" value="dummy"/>
            <label for= "radio4" >  <img src="assets/radio1.png" name="radio1"/>Revenue</label>
            
            <div class="tab-content" >
                <p> Fitting seamlessly into Vibrant’s existing lab platform framework, Z Suite technology acts as an extension of both the patient’s lab reports and as a premium feature and extension of the healthcare provider’s practice.
                </p>
            </div>
        </div>
        <!-- <div class="card-body">
            <div id="template1" >
                <p> this is template1</p>
            </div>
            <div id="template2" hidden>
                <p> this is template2</p>
            </div>
            <div id="template3" hidden>
                <p> this is template3</p>
            </div>
        </div> -->
    </div>
</div>