@import '../../scss/colors';

.z-suite{
    color:$primary;
  font-family: Verdana;
  font-size: 16px;
  letter-spacing: 1.33px;
  line-height: 19px;
}

%grid-container{
  display: grid;
  grid-template-columns: 100%;
}

.row{
  @extend %grid-container;
  text-align: center;
  justify-content: center;
  position: relative;
}
.py-5{
  padding-top:7%;
}
.h1{
  color: #2E3C57;
  font-family: Helvetica;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 41px;
}
p{
  color: #7E8085;
  font-family: Helvetica;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}
.mt-5{
  margin-top:5%;
}
.mt-2{
  margin-top: 2%;
}
.px-5{
  padding-left: 5%;
  padding-right: 5%;
}
.row-col{
  display: grid;
  grid-template-columns:auto auto auto;
  justify-content: space-around;
  .col{
    text-align: center;
  }
 
}

.default-card{
  background-color: #FFFFFF;
  box-shadow: 0 2px 40px 0 rgba(144,144,144,0.5);
}

.tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-around;
  // width:30%;
  // order:1;
 
}
.tabs input[type="radio"]{
  display:none;
}
 .tab-content{
  display: none;
}

.tabs input[type="radio"]:checked + label +  .tab-content{
  display: block;
  width: 100%;
  
}

//  input[type="radio"]{
//   display: none;
// }

@media only screen and (max-width:980px){
 .row-col{
   grid-template-columns: 50% 50%;
   
 }

}
@media only screen and (max-width:600px){
  .row-col{
    grid-template-columns: 100%;
    
  }
 
 }


