@import '../../scss/colors';

.z-suite{
    color:$primary;
  font-family: Verdana;
  font-size: 16px;
  letter-spacing: 1.33px;
  line-height: 19px;
}


.h1{
  color: #2E3C57;
  font-family: Helvetica;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 41px;
}
p{
  color: #7E8085;
  font-family: Helvetica;
  letter-spacing: 0;
  line-height: 30px;
}
.row-col{
  display: grid;
  grid-template-columns:auto auto auto;
  justify-content: space-around;
  .col{
    text-align: center;
  }
 
}

.default-card{
  background-color: #FFFFFF;
  box-shadow: 0 2px 40px 0 rgba(144,144,144,0.5);
}

.tabs{
  display: grid;
  
 grid-template-columns: auto auto auto auto;
 
box-sizing: border-box;
 
}


label{
  padding:5%;
  display: inline-block;
  border:2px solid white;
  background-color: #61846D;
  color: white;
  width: 100%;
}

.tabs input[type="radio"]{
  display:none;
}
 .tab-content{
  display: none;
}

.tabs input[type="radio"]:checked + label{
  background-color: white;
  color:#61846D
}

.tabs input[type="radio"]:checked + label +  .tab-content{
 
 grid-row-start: 2;

 align-items: center;
 background-color: white;
grid-column-start: 1;
grid-column-end: span 4;
display: flex;
align-items: center;

  p{
    line-height: 22px;
    text-align: left;
    padding:5%;
  }
}



@media only screen and (max-width:980px){
 .row-col{
   grid-template-columns: 50% 50%;
   
 }

}
@media only screen and (max-width:600px){
  .row-col {
    grid-template-columns: 100%;
    
  }
  // .tabs input[type="radio"]:checked + label{
  //   grid-template-columns: 100%;

  // }
 }


